<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbnMU-yJIBYV-T1RCLwUgPWOfEWBUV-Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>304590796914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Exercises</string>
	<key>PROJECT_ID</key>
	<string>appprueba-756ef</string>
	<key>STORAGE_BUCKET</key>
	<string>appprueba-756ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304590796914:ios:9a741f6f494df2c7a32aeb</string>
</dict>
</plist>